
html,body {
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	font-family: "Calibri", Roboto, Times;
	background-image: url(/img/bg_white.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	}
	
	a {
	 color:black;
	 text-align:center;
	}
	
	#calendar {
	}
	
	
	.header {
		display:block;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #ffffff; 
	    border-bottom: 2px dotted;
	}
	
	
	.left { 
		float:left;
		height: 100%;
		width: 100%;
		text-align: center;
		background-color: #fff;
	}
	
	.right {
		float: right;
		height: 100%;
		width: 100%;
		text-align: center;
		background-color: #B3FFB3;
		border: 100px;
	}
	
	.center {
		display: inline-block;
		height: 100%;
		width: 100%;
		text-align: center; 
	}
	
	#container{
		position: relative;
		top: 40%;
		height: 40%;		
		opacity: 0.75;
		border: 0px solid;
		border-color: #ffffff;
		border-radius: 15px;
	}
	
	#container:hover {
		background-color: #B3FFB3;
	}
	
	
	#select{
		width: 75%;
	}

	.footer {
	    display:block;
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    text-align: center;
        background-color: #ffffff;		
		border-top: 2px dotted;
	}
	
