
html,body {
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	font-family: "Roboto", Calibri, Times;
	background-image: url(/img/bg.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	}	
	
	
	.header {
		display:block;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #ffffff; 
	    border-style: dotted; 
	    border-width: 2px;
	}
	
	
	
	.left { 
		float:left;
		height: 100%;
		width: 100%;
		text-align: center;
		background-color: #ffffff;
	}
	
	.right {
		float: right;
		height: 100%;
		width: 100%;
		text-align: center;
		background-color: #ff6fff;
	}
	
	.center {
		display: inline-block;
		height: 100%;
		width: 100%;
		text-align: center; 
	}
	
	#container{
		height: 40%;
			
		position: relative;
	    opacity: 0.75;  
		top: 40%;
	}
	
	#container:hover {
		background:#3074a4;
		color:#fff;
	}
	
	#select{
		width: 75%;
	}

	.footer {
	    display:block;
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    text-align: center;
        background-color: #ffffff;		
	    border-style: dotted; 
	    border-width: 2px;
	}
	
